<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h2>Register User</h2>
      <form (ngSubmit)="onFormSubmit()" #f=ngForm>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            name="email"
            ngModel
            required
            email
            #email='ngModel'
          >
          <span *ngIf="!email.valid && email.touched">Enter valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscription">Select Subscription</label>
          <select
            id="subscription"
            class="form-control"
            [ngModel]="defaultSubscription"
            name="subscription">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            ngModel
            required
            #password='ngModel'
          >
          <span *ngIf="!password.valid && password.touched">Password should not be blank!</span>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
      <div class="row" *ngIf="submitted">
        <h4>Your data</h4>
        <pre>{{ usersValues }}</pre>
      </div>
    </div>
  </div>
</div>
