<div class="main-div">
  <div class="intro-body">
    <h4>
        Some benefits of UTM.io
    </h4>
    <ul>
      <li>Free Chrome Extension</li>
      <li>Create UTM Templates</li>
      <li>Unlimited Team Members</li>
      <li>Keep Your Team in Sync</li>
      <li>Custom Branded Domains</li>
    </ul>
    <div class="signup-btn-div">
      <button class="signup-free btn btn-capsule">
        Signup for free!
      </button>
    </div>
    <div class="continue-without-login">
      <button class=" btn btn-capsule btn-transparent text-lavender border-lavender mr-3 hover-bg-lavender hover-text-color-white">
        Continue without signup
      </button>

    </div>
    <div class="login-head">
      Already have an account?
      <a href="">
        Login
      </a>
    </div>
  </div>
</div>
